{% extends "base.html" %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>An Award-Winning Innovative IT Solution Agency In Malaysia.</h1>
          <h2>Our experienced designers not only offering you a noteworthy appearance and high-level features for your website, but also strategize the most efficient way to bridge the gap between your business’s goals and your user’s.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="static/assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= About Us Section ======= -->
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              We started our journey as a website designer & web developer in Malaysia, offering creative, flexible, and affordable website design services to SME businesses.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Experience And Expertise</li>
              <li><i class="ri-check-double-line"></i> Customized Solutions</li>
              <li><i class="ri-check-double-line"></i> User-Centric Approach</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Our team of experienced designers and developers specialize in creating custom web design solutions in Malaysia that are tailored to your specific needs and goals, ensuring that your website is not only an effective representation of your business, but also a powerful tool to help you achieve your desired outcomes. Read the full review about us.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>What is a  <strong>GOOD</strong> Website?</h3>
              <p>
                A website that is optimized for search engines can help you achieve your business goals by providing valuable information, generating leads, and facilitating conversions.
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>Helping You To Reach Your Audience<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      It took several steps to convert visitors from your website into clients and fans.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Gives You Better Insight <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                     By using Google Analysis & Facebook Pixels, it helps you to understand your market and audience better so that you can make wiser decisions.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Your Own Branding In The Digital World <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                     This is a platform where people first see, experience and craft their first impression about your company in their mind. This is why a bad website will only cause more harm than good to your business.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("static/assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Customized <strong>Web Development </strong>Solutions</h2>
          <p>Website design is not just about making a website look pretty. It’s about creating a website that is easy for people to use, easy for search engines to understand, and aligns with your brand. It’s a deep process that considers many different factors to create a website that truly represents your business and helps you achieve your goals.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box" style="text-align:center;">
              <div class="icon"><i class="bx bx-mobile" ></i></div>
              <h4><a href="">Mobile Responsive Website</a></h4>
              <p>Each website is designed with an elegant and responsive layout. That is, it is compatible with desktops, tablets, and mobile devices.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align:center;">
              <div class="icon"><i class='bx bxs-bookmarks' ></i></div>
              <h4><a href="">Branding Marketing</a></h4>
              <p>Branding is all about how people perceive your company. However, It has to do with the images, information, and experiences relating to your business./p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box" style="text-align:center;">
              <div class="icon"><i class='bx bx-search-alt-2'></i></div>
              <h4><a href="">Search Engine Optimisation</a></h4>
              <p>SEO helps your website become visible to people who search your website from the search engines (Google, Yahoo, etc.).</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box" style="text-align:center;">
              <div class="icon"><i class='bx bxs-server' ></i></div>
              <h4><a href="">Hosting Solutions</a></h4>
              <p>Website design is like renovating your online “shop”, and hosting is a “shop” for you to host and run the online e-commerce business.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Call To Action</h3>
            <p> Talk to us! Let us work together to make something great and do not let your website just become an online catalogue.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="tel:+604-928 4000">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Web Design Portfolio</h2>
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="static/assets/img/portfolio/portfolio-1.png" class="img-fluid" alt=""></div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="static/assets/img/portfolio/portfolio-2.png" class="img-fluid" alt=""></div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="static/assets/img/portfolio/portfolio-3.png" class="img-fluid" alt=""></div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="static/assets/img/portfolio/portfolio-4.png" class="img-fluid" alt=""></div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="static/assets/img/portfolio/portfolio-5.png" class="img-fluid" alt=""></div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="static/assets/img/portfolio/portfolio-6.png" class="img-fluid" alt=""></div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="static/assets/img/portfolio/portfolio-7.png" class="img-fluid" alt=""></div>
            </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="static/assets/img/portfolio/portfolio-8.png" class="img-fluid" alt=""></div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="static/assets/img/portfolio/portfolio-9.png" class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/assets/img/team/team-1.png" class="img-fluid" alt=""></div><br>
              <div class="member-info">
                <h4>Chong Pao Lun</h4>
                <span>Chief Executive Officer</span>
                <div class="social" style="text-align:center;" >
                   <a href="/portfolio" class="btn-learn-more">Portfolio</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/assets/img/team/team-2.jpg" class="img-fluid" alt=""></div><br>
              <div class="member-info">
                <h4>Harshini Alages</h4>
                <span>Product Manager</span>
                <div class="social" style="text-align:center;" >
                   <a href="/portfolio" class="btn-learn-more">Portfolio</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div><br>
              <div class="member-info">
                <h4>Fasihatul Amira bt Jamaludin</h4>
                <span>CTO</span>
                <div class="social" style="text-align:center;" >
                   <a href="/portfolio" class="btn-learn-more">Portfolio</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>UUM TECH Sdn Bhd has a wealth of experience in website design, having been in the business for over a decade.<br>If you have any other questions or would like to discuss your website design needs with us, please don’t hesitate to reach out. We’d be more than happy to chat with you and provide you with the information you need.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">How long does it take to design a website? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                 It is dependent on the website’s functionality, complexity, and amount of web pages, among other factors.<br>A typical corporate website design of 8–10 web pages takes about 6–8 weeks to complete.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How much will it cost to design my website?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                 The cost of website design will depend on the scope of the project and the specific features required. We will provide you with a detailed quote after discussing your needs and requirements.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Can I manage my website after it is completed? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                 Of course, there are clients who prefer to maintain and update their website by themselves, and who want to be completely focused on their business, we can always offer a website maintenance package to them.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Does your website design SEO (Search Engine Optimization) friendly ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                 SEO requires continuous monthly keyword planning work to display your website on the first page.<br>We can assure you that your website design by Wowonini Sdn Bhd is search engine compatible and complies with Google’s organic SEO guidelines. We will help to set up Google Analytics, Google Search Console, and send the sitemap of your website to Google.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Does your website design package include photos and copywriting? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                 Customers usually will prepare content and photos for us.<br>However, for website design projects that require photo shooting and copywriting services, please contact our customer support and we are happy to help.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Let us help you succeed online. Trust the experts at UUM TECH Sdn Bhd for all your web design, eCommerce, SEO, and digital marketing needs.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Universiti Utara Malaysia, Sintok, 06010 Bukit Kayu Hitam, Kedah</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>servicedesk@uum.edu.my</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+604-928 4000</p>
              </div>

             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31715.656678699394!2d100.48699825577559!3d6.46363153578118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304cae152c08f777%3A0x76d78a9b0a4b933d!2sUniversiti%20Utara%20Malaysia!5e0!3m2!1sen!2smy!4v1704201234442!5m2!1sen!2smy" width="100%" height="290" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="{{ url_for('contact') }}" method="post" class="php-email-form">
               {{ form.csrf_token }}
                <div class="row">
                    <h4>Contact Form</h4><br> <br>
                    <div class="form-group col-md-6">
                        {{ form.name.label }}
                        {{ form.name(class="form-control") }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.email.label }}
                        {{ form.email(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.phone.label }}
                    {{ form.phone(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.subject.label }}
                    {{ form.subject(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.message.label }}
                    {{ form.message(class="form-control") }}
                </div>
                <div class="text-center">
                     <button type="submit">Send Message</button>
                </div>
            </form>
        </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->
{% endblock %}
