<!DOCTYPE HTML>

<html>
	<head>
		<title>UUM Tech</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Digital marketing is the future, for real</h1>
						<p>The traditional processes for business owners in Malaysia to create a website and run digital ads are opaque, stressful, and slow. Fees aren’t transparent, and some website designers’ services are highly variable. We’re breaking the status quo. We build clean and beautiful websites that work as your super salesman.</p>
						<ul class="actions">
							<li><a href="/home" class="button icon solid solo fa-arrow-right scrolly">Started Now</a></li>
						</ul>
					</div>
		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main1.js"></script>

	</body>
</html>